<div class="container">
    <div class="cliente">
        <h5> Cliente: {{this.ServicioPedido.pedido.nombreCliente}} </h5>
        <h6> Total: {{this.ServicioPedido.pedido.totalPedido |currency: '$'}} </h6>
    </div>

    <div class="detalle">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Producto ID</th>
                <th scope="col">Nombre</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Precio</th>
                <th scope="col">Total</th>
                <th scope="col">Eliminar</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let producto of this.ServicioPedido.pedido.detallePedido, let posicion = index">
                <td>{{producto.productoID}}</td>
                <td>{{producto.nombre}}</td>
                <td> <input (input)="calcularTotal(posicion)" [(ngModel)]="producto.cantidad" type="text"></td>
                <td>{{producto.precio |currency: '$'}}</td>
                <td>{{producto.total |currency: '$'}}</td>
                <td> <button class="btn btn-danger" (click)="eliminar(posicion)">Eliminar</button> </td>
              </tr>
            </tbody>
          </table>
        <button class="btn btn-primary" (click)="guardar()"> Guardar </button>    
    </div>

</div>