<div class="container mt-5">

    <form action="" class="form-group">
        <input placeholder="Buscar" type="text" class="form-control">

    </form>

    <button routerLink='/agregar-clientes' class="btn btn-primary mt-2">Agregar Cliente</button>

    <div class="row mt-2">
        <div class="col-sm-3">
            <div class="card" >
                <div class="card-body">
                  <h5 class="card-title">Diana Pérez</h5>
                  <h6 class="card-subtitle">Código</h6>
                  <p class="card-text">Carretera a Acatlima Km. 2, Huajuapan de León</p>
                  <a href="#" class="card-link">Agregar</a>
                  <a href="#" class="card-link">Información</a>
                </div>
              </div>
        </div>
    </div>
</div>